.schedule {
  list-style: none;

  + .schedule {
    margin-top: 15px;
  }
}

.name {
  margin-top: 0;
  margin-bottom: 5px;
}

.enabled,
.disabled {
  padding: 1px 0.3em;
  border-radius: 2px;
  display: inline-block;
  margin-left: 10px;
}

.enabled {
  &.day {
    background-color: #dff0d8;
    color: #3c763d;
  }

  &.night {
    color: #dff0d8;
    background-color: #468847;
  }
}

.disabled {
  &.day {
    background-color: #f7f7f9;
    color: #767676;
  }

  &.night {
    color: #F0F0F0;
    background-color: #868686;
  }
}
