.field {
  margin-bottom: 10px;
  float: left;
  margin-right: 2%;

  &.lightsField {
    width: 100%;
    clear: left;
    margin-right: 0;
    float: none;
  }
}

.formControls {
  clear: both;
}

.label {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  margin: 0 10px;
}

input[type="text"].textField {
  display: inline-block;
  width: 20em;
}

button.btn {
  margin-left: 10px;
}

.helpText {
  margin: 0 10px 10px 10px;
}

.cancelLink {
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  margin-left: 10px;
}
