.scene {
  width: 48%;
  margin: 0 1% 10px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  border-radius: 2px;
  vertical-align: top;

  &.night {
    border-color: #38231D;
  }

  &.day {
    border-color: #ccc;
  }
}

.name {
  margin: 0 0 5px;
  font-weight: normal;

  &.day {
    color: #97918A;
  }

  &.night {
    color: #E16C51;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.lightCount {
  font-size: 14px;
  float: right;
  opacity: 0.8;
}

.lights {
  margin: 0;
}
