.scene {
  width: 48%;
  margin: 0 1% 10px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  border-radius: 2px;
  vertical-align: top;

  &.night {
    border-color: #38231D;
  }

  &.day {
    border-color: #ccc;
  }
}

.name {
  margin: 0;
  font-weight: normal;

  a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 79%;
    text-decoration: none;
    display: block;
    float: left;
  }

  &.day {
    color: #97918A;
  }

  &.night {
    color: #E16C51;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.openIndicator {
  margin-right: 5px;
  font-size: 16px;
}

.lightCount {
  font-size: 14px;
  float: right;
  opacity: 0.8;
}

.lights {
  margin: 5px 0 0 0;
}
