.group {
  width: 48%;
  margin: 0 1% 10px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  border-radius: 2px;
  vertical-align: top;

  &.night {
    border-color: #38231D;
  }

  &.day {
    border-color: #ccc;
  }
}

.groupHeader {
  display: table;
  width: 100%;
}

.groupName {
  margin-bottom: 0;
  display: table-cell;
  font-weight: normal;
  font-size: 18px;

  a {
    text-decoration: none;
  }
}

.openIndicator {
  margin-right: 5px;
  font-size: 16px;
}

.onOffSwitch {
  float: right;
}

.groupContents {
  margin-left: 21px;
  margin-right: 55px;
  font-size: 13px;
}

.groupLights {
  list-style: none;
  padding-left: 0;
  margin-bottom: 10px;
}

.groupLight {
  white-space: nowrap;
  display: inline-block;

  &:after {
    content: ",\a0";
  }

  &:last-child {
    &:after {
      content: "";
    }
  }
}

.editLink {
  text-decoration: none;

  .editIcon {
    margin-right: 0.3em;
  }
}
