.onoffswitch {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  .onoffswitchCheckbox {
    display: none;

    &:checked {
      + .onoffswitchLabel {
        .onoffswitchInner {
          margin-left: 0;
        }

        .onoffswitchSwitch {
          right: 0;
        }
      }

      &.partial {
        + .onoffswitchLabel {
          .onoffswitchInner {
            margin-left: 50%;
          }

          .onoffswitchSwitch {
            right: 15px;
          }
        }
      }
    }
  }

  .onoffswitchLabel {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-radius: 18px;

    &.full {
      background-color: #fff;
    }

    &.day {
      border-color: #ccc;

      &.partial {
        background-color: #ddd;
      }
    }

    &.night {
      border-color: #97918A;

      &.partial {
        background-color: #97918A;
      }
    }
  }

  .onoffswitchInner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;

    &:before, &:after {
      display: block;
      float: left;
      width: 50%;
      height: 18px;
      padding: 0;
      line-height: 18px;
      font-size: 12px;
      color: white;
      font-weight: 700;
      box-sizing: border-box;
    }

    &:before {
      content: "on";
      padding-left: 10px;
      background-color: #FFF7C2;
      color: #474029;
    }

    &:after {
      content: "off";
      padding-right: 10px;
      background-color: #373634;
      color: #D6D6D6;
      text-align: right;
    }

    &.partial {
      &:before,
      &:after {
        content: "";
      }

      &.day {
        &:before,
        &:after {
          background-color: #ddd;
        }
      }

      &.night {
        &:before,
        &:after {
          background-color: #97918A;
        }
      }
    }
  }

  .onoffswitchSwitch {
    display: block;
    width: 18px;
    margin: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 32px;
    border-width: 2px;
    border-style: solid;
    border-radius: 18px;
    transition: all 0.3s ease-in 0s;

    &.day {
      border-color: #ccc;
      background-color: #fff;
    }

    &.night {
      border-color: #101010;
      background-color: #E5E4E1;
    }
  }
}
