input[type="search"].lightFilter,
select.stateFilter,
select.modelFilter,
select.sort,
.label {
  display: inline-block;
}

input[type="search"].lightFilter {
  width: 10em;
}

select.stateFilter {
  width: 5em;
}

select.modelFilter {
  width: 7em;
}

select.sort {
  width: 5.5em;
}

.label {
  margin: 0 5px 0 20px;
}

.clear {
  text-decoration: none;
  padding-left: 10px;
  font-size: 13px;
}
